[*.cs]

# IDE0036: Order modifiers
dotnet_diagnostic.IDE0036.severity = none

# RCS1018: Add accessibility modifiers.
dotnet_diagnostic.RCS1018.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# CS8981: The type name only contains lower-cased ascii characters. Such names may become reserved for the language.
dotnet_diagnostic.CS8981.severity = none
